<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="static/css/style.css">  one way  -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename ='css/style.css')}}"> two way  -->

  </head>
  <body>

    <!-- <img src="static/images/basket.jpg" alt="" height="300px" width="300px">  one way -->>
    <!-- <img src="{{url_for('static',filename ='images/basket.jpg')}}" alt="" height="300px" width="300px"> second way-->
    
    <p id="demo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ut
      aut suscipit sed amet, molestiae eaque quidem assumenda. Aliquam quam
      ratione similique harum obcaecati esse dolore quas, iste ea quae? Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ut aut
      suscipit sed amet, molestiae eaque quidem assumenda. Aliquam quam ratione
      similique harum obcaecati esse dolore quas, iste ea quae? Lorem ipsum
      dolor sit, amet consectetur adipisicing elit. Laudantium ut aut suscipit
      sed amet, molestiae eaque quidem assumenda. Aliquam quam ratione similique
      harum obcaecati esse dolore quas, iste ea quae? Lorem ipsum dolor sit,
      amet consectetur adipisicing elit. Laudantium ut aut suscipit sed amet,
      molestiae eaque quidem assumenda. Aliquam quam ratione similique harum
      obcaecati esse dolore quas, iste ea quae? Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Laudantium ut aut suscipit sed amet,
      molestiae eaque quidem assumenda. Aliquam quam ratione similique harum
      obcaecati esse dolore quas, iste ea quae? Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Laudantium ut aut suscipit sed amet,
      molestiae eaque quidem assumenda. Aliquam quam ratione similique harum
      obcaecati esse dolore quas, iste ea quae? Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Laudantium ut aut suscipit sed amet,
      molestiae eaque quidem assumenda. Aliquam quam ratione similique harum
      obcaecati esse dolore quas, iste ea quae? Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. 
    </p>

    <button type="button" onclick="red()" class="btn btn-primary">red</button>
    <button type="button" onclick="coral()" class="btn btn-primary">coral</button>
    <button type="button" onclick="white()" class="btn btn-primary">white</button>
    <!-- <script src="static/js/main.js"></script> -->
    <!-- <script src="{{url_for('static',filename ='js/main.js')}}"></script> -->
  </body>
</html>
